@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Мој универзитет</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Добродошли у апликацију <u>Мој универзитет</u></h2>
        <p>Мој универзитет ја пример апликације која описује коришење алата 
            Entity Framework Core код ASP.NET Core MVC веб апликација.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Довуци апликацију <u>Мој универзитет</u></h2>
        <p>Цео пројекат може да се довуче са система за контролу верзија GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/MatfRS2/tutorial-net-univerzitet">Изворни код пројекта &raquo;</a></p>
    </div>
</div>